/*  ============= WEB BROWSER RESETS ============ */


.quiz-container-outer {
  display: flex;
  justify-content: center;
}

.quiz-container {
  max-width: 960px;
  min-width: 720px;
  background: var(--trend-900);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px 60px;
  border: solid 1px var(--gray-700);

}

.quiz-container .active-question-no {
  font-size: var(--font-size-xl);
  font-weight: 400;
  color: #fff;
  margin-bottom: 32px
}

.quiz-container .total-question {
  font-size: var(--font-size-base);
  font-weight: 400;
  color: var(--gray-500);
}

.quiz-container h2 {
  font-size: var(--font-size-base);
  font-weight: 500;
  margin: 20px 0 0 0;
  color: #fff;
  max-width: 700px;
  min-width: 700px;
  font-family: var(--font-monospace);
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: 0px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: var(--font-size-base);
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px 21px;
  margin-top: 15px;
  cursor: pointer;
  max-width: 700px;
  min-width: 700px;
  font-family: var(--font-monospace);
}

.quiz-container ul .selected-answer {
  background-color: var(--yellow-200);
  border: 1px solid var(--yellow-400);
}

.quiz-container button {
  background-image: linear-gradient(to right, rgb(224, 82, 160), rgb(241, 92, 65));
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}
.result {
  min-height: 74vh;
}

.result h3 {
  font-size: var(--font-size-lg);
  font-weight: 700;
  text-align: center;
  color:#fff;
  margin-bottom: 32px;
}

.result p {
  font-size: var(--font-size-md);
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px
}

.result p span {
  color: var(--yellow-400);
  font-size: 22px;
}

.two-cols-result {
  display: flex;
  flex-wrap: wrap;
}

.two-cols-result div:nth-child(1) { min-width: 80%}
.two-cols-result div:nth-child(2) { min-width: 18%}

.result p.return-home-page {
  margin-top: 60px;
  text-align: center;

}

.result p.return-home-page a {
  color: var(--blue-400);
  text-decoration: none;
  border-bottom: solid 1px var(--blue-400);
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin-left: 12px
}